*{
    padding: 0;
    margin: 0;
}

body{
    font-family: helvetica;
    background-color: #031d28;
    height: 100%;
    color: white;
}

#title{
    font-size: 32px;
    font-weight: bold;
}

#beta{
    font-size: 10px;
}

#con{
    width: 45%;
    margin: 0 auto;
}

#con-adm{
    width: 70%;
    margin: 0 auto;
}

#con-rep{
    width: 70%;
    margin: 0 auto;
}

#con-sta{
    width: 70%;
    margin: 0 auto;
}

#pass{
    margin-left: 17px;
}


.wrong{
    color: #af0101;
    font-size: 16px;
}

.success{
    color: #15af01;
    font-size: 16px;
}

#noneperm{
    color: #af0101;
}

#acc{
    text-align: right;
    margin-right: -4px;
}

#change{
    margin-right: -5px;
}

#replays, #adminlist, #reportlist{
    padding: 10px;
    font-size: 16px;
}

#replays table{
    width: 100%;
    background-color: black;
    color: white;
}

#replays table td, #adminlist table td{
    padding: 5px;
}

#replays table tr:nth-child(n+2) td:nth-child(odd), #adminlist table tr:nth-child(n+2) td:nth-child(odd), #logs table tr:nth-child(n+2) td:nth-child(odd), .acc-logs table tr:nth-child(n+2) td:nth-child(odd){
    background-color: #323C50;
}

#replays table tr:nth-child(n+2) td:nth-child(even), #adminlist table tr:nth-child(n+2) td:nth-child(even), #logs table tr:nth-child(n+2) td:nth-child(even), .acc-logs table tr:nth-child(n+2) td:nth-child(even){
    background-color: #2C3446;
}

#replays table tr td a, #adminlist table tr td a{
    color: white;
    transition: 0.3s;
}

#replays table tr td a:hover, #adminlist table tr td a:hover{
    color: grey;
    transition: 0.3s;
}

#adminlist table{
    margin: 0 auto;
    width: 72%;
    background-color: black;
    color: white;
}

#adminlist input[type="text"]{
    width: 200px;
    line-height: 25px;
    margin: 5px;
    padding: 2px;
    border: 1px solid #646464;
    border-radius: 3px;
    background-color: #1c1c1c;
    text-align: center;
    color: #eaeaea;
}

#adminlist select{
    width: 170px;
    height: 30px;
    margin: 5px;
    padding: 2px;
    border: 1px solid #646464;
    border-radius: 3px;
    background-color: #1c1c1c;
    text-align: center;
    color: #eaeaea;
}

#reportlist #rep_10{
    margin-left: -10px;
}

#con-adm table{
    margin: 0 auto;
    width: 70%;
    background-color: black;
    color: white;
}

#con-rep img[alt="esportal_logo_black"]{
    display: block;
    margin: 0 auto;
}

#con-rep table{
    margin: 0 auto;
    width: 100%;
    background-color: black;
    color: white;
}

#con-sta table{
    margin: 0 auto;
    width: 60%;
    background-color: black;
    color: white;
}

#con-sta table tr td:nth-child(1){
    text-align: left;
}

#con-league{
    margin: 0 auto;
    width: 70%;
}

#reportov{
    margin-top: 9px;
}

#reportov table tr td:nth-child(odd){
    background-color: #323C50;
    width: 30%;
}

#reportov table tr td:nth-child(even){
    background-color: #2C3446;
    width: 70%;
}

#myacc-stats table tr td:first-child{
    background-color: #323C50;
}

#myacc-stats table tr td:nth-child(2){
    background-color: #2C3446;
}

#changelog{
    text-align: left;
    margin-left: 5%;
}

#leagues, #logs{
    padding: 10px;
    font-size: 16px;
}

#leagues #rep_10{
    margin-left: -10px;
}

#leagues input[type="date"]{
    width: 160px;
    line-height: 25px;
    margin: 5px;
    padding: 2px;
    border: 1px solid #646464;
    border-radius: 3px;
    background-color: #1c1c1c;
    color: #eaeaea;
    text-align: center;
}

#leagues input[type="date"]:hover{
    cursor: pointer;
}

#herodiv{
    display: inline-block;
}

#heroleague-table{
    width: 100%;
    display: inline-block!important;
}

#heroleague-table form{
    margin-left: auto;
    margin-right: auto;
    margin-left: 0!important;
}

.linkInput{
    width: 250px;
    line-height: 25px;
    margin: 5px;
    padding: 2px;
    border: 1px solid #646464;
    border-radius: 3px;
    background-color: #1c1c1c;
    text-align: center;
    color: #eaeaea;
}

.userInput{
    width: 170px;
    line-height: 25px;
    margin: 5px;
    padding: 2px;
    border: 1px solid #646464;
    border-radius: 3px;
    background-color: #1c1c1c;
    text-align: center;
    color: #eaeaea;
}

.selectInput{
    width: 200px;
    height: 30px;
    margin: 5px;
    padding: 2px;
    border: 1px solid #646464;
    border-radius: 3px;
    background-color: #1c1c1c;
    text-align: center;
    color: #eaeaea;
}

.textareaInput{
    width: 400px;
    height: 140px;
    max-width: 400px;
    min-width: 400px;
    max-height: 140px;
    min-height: 140px;
    resize: none;
    margin: 5px;
    padding: 2px;
    border: 1px solid #646464;
    border-radius: 3px;
    background-color: #1c1c1c;
    text-align: center;
    color: #eaeaea;
}

.textareaInputLow{
    width: 250px;
    line-height: 25px;
    max-width: 250px;
    min-width: 250px;
    max-height: 25px;
    min-height: 25px;
    resize: none;
    padding: 2px;
    margin-left: 5px;
    margin-bottom: -11px;
    border: 1px solid #646464;
    border-radius: 3px;
    background-color: #1c1c1c;
    text-align: center;
    color: #eaeaea;
}

.first{
    background-color: #242424;
    font-size: 18px;
    margin: 2px;
}

.table-header{
    font-size: 32px;
    padding: 10px;
    background-color: #242424;
}

.history-header{
    font-size: 24px;
    padding: 10px;
    background-color: #171717;
}

.dark-theme{
    background-color: #062a3a;
    color: white;
    text-align: center;
}

.offsite{
    margin-top: 20px;
    padding: 10px;
}

.accTheme{
    text-transform: uppercase;
}

.buttonDark{
    line-height: 15px;
    margin: 5px;
    padding: 5px;
    background-color: #00a9e9;
    color: #eaeaea;
    border: none;
    border-radius: 3px;
    transition: 0.3s;
    font-size: 14px;
}

.buttonDark:hover{
    background-color: #0085b7;
    transition: 0.3s;
    cursor: pointer;
}

.buttonDarkRed{
    line-height: 15px;
    margin: 5px;
    padding: 5px;
    background-color: #690408;
    color: #eaeaea;
    border: none;
    border-radius: 3px;
    transition: 0.3s;
}

.buttonDarkRed:hover{
    background-color: #2f0103;
    transition: 0.3s;
    cursor: pointer;
}

.Green{
    background-color: #15950b;
}

.Green:hover{
    background-color: #073e03;
}

.green{
    color: #15950b;
}

.orange{
    color: #d07914;
}

.red{
    color: #af0101;
}

.static{
    width: 170px;
}

.static-last{
    width: 150px;
}

.active{
    background-color: #414141;
}

.active:hover{
    background-color: #414141;
    transition: none;
    cursor: default;
}

.icon{
    width: 14px;
    margin-right: 2px;
    margin-bottom: -1px;
}

.iconAcc{
    width: 16px;
    margin-bottom: -2px;
    margin-right: 4px;
}

.left{
    float: left;
    width: 50%;
}

.right{
    float: left;
    width: 50%;
}

.table-margin{
    width: 100%;
}

.table-margin table{
    width: 100%;
}

.clear{
    clear: both;
    margin-bottom: 20px;
}

.dot{
    height: 9px;
    width: 9px;
    background-color: #1fcb00;
    border-radius: 50%;
    border: 2px solid #000000;
    display: inline-block;
}

.top10{
    width: 30%!important;
    background-color: #000000;
    font-weight: bold;
    margin-left: auto;
    margin-right: 150px;
    border: none;
    margin-top: 70px;
    box-shadow: 0px 0px 20px #0f0f0f!important;
}

.top10 thead{
    background-color: #005574;
}

.top10 thead th{
    padding: 10px;
}

.top10 tbody tr:nth-child(2){
    background-color: #F1C232;
}

.top10 tbody tr:nth-child(3){
    background-color: #D9D9D9;
}

.top10 tbody tr:nth-child(4){
    background-color: #DD7E6B;
}

.top10 tbody tr:nth-child(5){
    background-color: #cadafd;
}

.top10 tbody tr:nth-child(6){
    background-color: #7d92bf;
}

.top10 tbody tr:nth-child(n+7){
    background-color: #323C50;
}

.top10 tbody tr:first-child{
    background-color: #00a9e9;
}

.top10 tbody tr td{
    padding: 5px;
    color: #000000!important;
    text-align: center!important;
}

.top10 a{
    color: #000000!important;
    text-decoration: none;
    transition: 0.3s;
}

.top10 a:hover{
    color: #4c81f8!important;
    cursor: pointer;
    transition: 0.3s;
}

.desc{
    max-width: 300px;
}

#logo{
    text-align: center;
}

#header{
    text-align: center;
    padding: 10px;
}

#activity{
    position: absolute;
    left: 86%;
    top: 35px;
    width: 13%;
    float: right;
    margin-right: 1%;
}

#activity table{
    width: 100%;
    background-color: #062a3a;
    margin-left: auto;
    margin-right: auto;
}

#activity table thead{
    background-color: #242424;
    padding: 5px;
}

#activity table tr td, #activity table tr th, #logs table tr td, #logs table tr th{
    padding: 5px;
}

.acc-logs{
    text-align: center;
}

.acc-logs table{
    width: 100%!important;
}

.acc-logs table thead th, #myacc-stats table thead th{
    padding: 5px;
}

#logs{
    text-align: center;
}

#logs table, .acc-logs{
    width: 90%;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
}

#logs table thead, .acc-logs table thead, #myacc-stats table thead{
    background-color: #242424;
    padding: 5px;
    font-size: 24px;
}

#logs table tbody td{
    padding: 5px;
}

#auth-true button{
    width: 150px;
    height: 30px;
}

#auth-true p:first-child{
    font-size: 18px;
}

#auth-true p{
    font-size: 16px;
    padding: 3px;
}

.left-float{
    display: inline-block;
}

.heroleague{
    margin-left: auto!important;
    margin-right: auto!important;
    margin: 20px!important;
    box-shadow: 0px 0px 20px #0f0f0f!important;
    color: white!important;
    min-width: 300px!important;
    height: 417px!important;
    border: none!important;
}

.heroleague thead{
    background-color: #005574!important;
    font-size: 22px!important;
}

.heroleague tr{
}

.heroleague thead tr th{
    padding: 7px!important;
}

.heroleague thead tr th:nth-child(2){
    width: 240px!important;
}

.heroleague thead tr th img{
    width: 60px!important;
}

.heroleague tbody tr td{
    padding: 7px!important;
}

.heroleague tbody tr td:first-child{
    text-align: center!important;
}

.heroleague tbody tr td:nth-child(n+2){
    text-align: center!important;
}

.heroleague tbody tr:nth-child(odd){
    background-color: #252525!important;
}

.heroleague tbody tr:nth-child(even){
    background-color: #1c1c1c!important;
}

.heroleague tbody tr td a{
    color: #ffffff!important;
    text-decoration: none!important;
}

.heroleague tbody tr td a:hover{
    cursor: pointer!important;
    color: #00a9e9!important;
}

.first-heroleague td{
    background-color: #00a9e9!important;
    font-size: 16px!important;
    font-weight: bold!important;
}

.type{
    margin-right: 60px!important;
}

section{
    text-align: center;
    padding: 10px;
}

section input[type="text"], section input[type="password"]{
    width: 200px;
    line-height: 25px;
    margin: 5px;
    padding: 2px;
    border: 1px solid #646464;
    border-radius: 3px;
    background-color: #1c1c1c;
    text-align: center;
    color: #eaeaea;
}

section input::placeholder{
    color: #d4d4d4;
    font-family: 'helvetica';
    font-size: 14px;
}

section button{
    width: 120px;
    line-height: 15px;
    margin: 5px;
    padding: 4px;
    background-color: #00a9e9;
    color: #eaeaea;
    border: none;
    border-radius: 3px;
    transition: 0.3s;
}

section button:hover{
    background-color: #0085b7;
    transition: 0.3s;
    cursor: pointer;
}

section p{
    font-size: 14px;
    color: white;
}

footer{
    clear: both;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    position: relative;
    bottom: 0;
}

footer a{
    font-size: 14px;
    text-decoration: none;
    color: red;
}

footer a:hover{
    color: darkred;
    transition: 0.3s;
}

@font-face{
    font-family: helvetica;
    src: url(../font/Helvetica.ttf);
}

@media screen and (max-width: 1600px){
    #con{
        width: 60%;
        margin: 0 auto;
    }

    #con-adm{
        width: 80%;
        margin: 0 auto;
    }

    #con-rep{
        width: 80%;
        margin: 0 auto;
    }

    #con-sta{
        width: 80%;
        margin: 0 auto;
    }
    
    #activity{
        position: absolute;
        left: 90.5%;
        top: 35px;
        width: 9%;
        float: right;
    }
}